/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
 
#map img { 
	max-width: none; 
}
 
#map label { 
	width: auto; 
	display:inline;
}

#map{
	margin-top: 5%;
}

.milieu{
	background: url('/assets/fond7.jpg');
}


#navigation{
	margin-top:-30px;
}

.jumbotron{
	background: url('/assets/');
	background-position: center;
	background-size: 100% auto;
}

.logo{
	background-color: black;
	width: 40%;
}


.list-group-item-text{
	text-align: left
}

.list-group-item-heading{
	text-align: left
}
.list-group{
	box-shadow: 0 2px 5px;
}

#defile
{
	height: 400px;
	width: 125%;
}

#ajoutcoloc2{
	display:none;
	font-size: 80%;
}

#editcompte2{
	display:none;
	font-size: 80%;
}

#row2{
	margin:0px;
}
#fin
{
	display:none;
}

#titre 
{
	width: 70%;
}

#titre1
{
	width: 50%;
}

#titre2
{
	width: 40%;
}

#ajout_edit{
	width:35%;
	height:1%;
}

li.dropdown-menu{
	border:none;
	padding:0px;
	box-shadow:none;
}

#menucoloc{
	display:none;
	padding:0px;
	width:100%;
}

#menucompte{
	display:none;
	padding:0px;
	width:100%;
}

.transparent{
	background-color:rgba(255,255,255,0.7);
	width: 55%;
	padding:30%;
	margin-top:2%;
	margin-bottom: 2%;
	border-radius:5%;
}

.transparent2{
	background-color:rgba(255,255,255,0.7);
	width: 80%;
	padding:5%;
	margin-top:2%;
	margin-bottom: 2%;
	border-radius:5%;
	margin-left:-10%;
}

#retour{
	padding-left:60%;
}

#editioncoloc{
	margin-left:30%;
}
#bouton{
	margin-left:45%;
}

#photo{
	margin-left:45%;
}
// Place all the styles related to the acceuil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the colocation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the comptes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transparent{
	background-color:rgba(255,255,255,0.7);
	width: 55%;
	padding:30px;
}
// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
