<p>Bienvenue <%= @email %>!</p>

<p>Veuillez valider votre compte en cliquant sur le lien suivant</p>
<p>Votre pseudo :<%= @pseudo %> </p>
<p>Votre mot de passe :<%= @password %> </p>
<p><%= link_to 'Valider mon compte', confirmation_url(@resource, :confirmation_token => @token) %></p>
